<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Bootstrap Alerts</title>
  </head>
  <body>
    <h1>
      Bootstrap Alerts
    </h1>
    <div class="alert alert-primary" role="alert">
        It is a primary alert
        <h3>applying primary alert properties</h3>
      </div>
      <div class="alert alert-secondary" role="alert">
        It is a secondary alert
        <h3>applying secondary alert properties</h3>
      </div>
      <div class="alert alert-success" role="alert">
        It is a success alert
        <h3>applying success alert properties</h3>
      </div>
      <div class="alert alert-danger" role="alert">
        It is a danger alert
        <h3>applying danger alert properties</h3>
      </div>
     <h1>
        Alert with links
     </h1>

      <div class="alert alert-primary" role="alert">
        A simple primary alert with <a href="https://files.codingninjas.in/article_images/bootstrap-alerts-1-1674507467.webp" class="alert-link">an image example </a>. Give it a click.
      </div>
      <div class="alert alert-secondary" role="alert">
        A simple secondary alert with <a href="https://files.codingninjas.in/article_images/bootstrap-alerts-1-1674507467.webp" class="alert-link">an image link</a>. Give it a click.
      </div>
      <div class="alert alert-success" role="alert">
        A simple success alert with <a href="https://files.codingninjas.in/article_images/bootstrap-alerts-1-1674507467.webp" class="alert-link">an example link</a>. Give it a click.
      </div>
      <div class="alert alert-danger" role="alert">
        A simple danger alert with <a href="https://files.codingninjas.in/article_images/bootstrap-alerts-1-1674507467.webp" class="alert-link">an example link</a>. Give it a click.
      </div>
     
      <h1>

      </h1>









    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

  </body>
</html>