<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Bootstrap Cards</title>
  </head>
  <body>
    <center>
    <h1>Bootstrap Cards</h1>
    </center>


    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
          <div class="card h-100">
            <img src="https://i.pinimg.com/564x/82/2c/cf/822ccfd3c40540d4b00b2a2119c0235b.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Avengers : Infinity war</h5>
              <p class="card-text">The Avengers must stop Thanos, an intergalactic warlord, from getting his hands on all the infinity stones. However, Thanos is prepared to go to any lengths to carry out his insane plan.</p>
              <a href="https://www.primevideo.com/dp/amzn1.dv.gti.4eb68101-2b5a-bd28-b375-e926f4b5a8be?autoplay=0&ref_=atv_cf_strg_wb" class="btn btn-primary">Watch on prime video</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="https://images-cdn.ubuy.co.in/633fedc210744c771b6cd8f7-spider-man-no-way-home-movie-poster.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Spiderman No Way Home</h5>
              <p class="card-text">Spider-Man seeks the help of Doctor Strange to forget his exposed secret identity as Peter Parker. However, Strange's spell goes horribly wrong, leading to unwanted guests entering their universe.</p>
              <a href="https://www.primevideo.com/dp/amzn1.dv.gti.bd66dc6c-5a16-42c3-afb9-4d64e8bab665?autoplay=0&ref_=atv_cf_strg_wb" class="btn btn-primary">Watch on prime video</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="https://m.media-amazon.com/images/M/MV5BMjE5MzcyNjk1M15BMl5BanBnXkFtZTcwMjQ4MjcxOQ@@._V1_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Iron Man 3</h5>
              <p class="card-text">Suffering from PTSD, Tony Stark encounters a formidable foe called the Mandarin. When he watches his world fall apart, he must rely on his own instincts as he embarks on a journey of retribution.</p>
              <a href="https://www.primevideo.com/dp/amzn1.dv.gti.beba2b2b-7c27-1e34-12ff-b96635c7849f?autoplay=0&ref_=atv_cf_strg_wb" class="btn btn-primary">Watch on prime video</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="https://m.media-amazon.com/images/M/MV5BNjgwNzAzNjk1Nl5BMl5BanBnXkFtZTgwMzQ2NjI1OTE@._V1_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Doctor Strange</h5>
              <p class="card-text">In an accident, Stephen Strange, a famous neurosurgeon, loses the ability to use his hands. He goes to visit the mysterious Ancient One to heal himself and becomes a great sorcerer under her tutelage.</p>
              <a href="https://www.primevideo.com/dp/amzn1.dv.gti.2ab7b43a-45db-02e2-62d7-472b33509b68?autoplay=0&ref_=atv_cf_strg_wb" class="btn btn-primary">Watch on prime video</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
              <img src="https://m.media-amazon.com/images/M/MV5BMTc5MDE2ODcwNV5BMl5BanBnXkFtZTgwMzI2NzQ2NzM@._V1_.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Avengers : Endgame</h5>
                <p class="card-text">After Thanos, an intergalactic warlord, disintegrates half of the universe, the Avengers must reunite and assemble again to reinvigorate their trounced allies and restore balance.</p>
                <a href="https://www.primevideo.com/dp/amzn1.dv.gti.deb714bc-90ae-83de-9c5b-ee5ea8063330?autoplay=0&ref_=atv_cf_strg_wb" class="btn btn-primary">Watch on prime video</a>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card h-100">
              <img src="https://m.media-amazon.com/images/M/MV5BMTE0YWFmOTMtYTU2ZS00ZTIxLWE3OTEtYTNiYzBkZjViZThiXkEyXkFqcGdeQXVyODMzMzQ4OTI@._V1_.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Captain Marvel</h5>
                <p class="card-text">Amidst a mission, Vers, a Kree warrior, gets separated from her team and is stranded on Earth. However, her life takes an unusual turn after she teams up with Fury, a S.H.I.E.L.D. agent.</p>
                <a href="https://www.primevideo.com/dp/amzn1.dv.gti.4eb8df68-25d1-7efd-94fd-3ff329f28d92?autoplay=0&ref_=atv_cf_strg_wb" class="btn btn-primary">Watch on prime video</a>
              </div>
            </div>
          </div>
          
      </div>


    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

  </body>
</html>